*{
    box-sizing: border-box;
    margin: 0;
}
.timer{
    display: flex;
    width: 100%;
    background-color: aquamarine;
    justify-content: center;
    margin: 1em auto;
    border-radius: 5px;
    font-size: 2em;
    padding: 0.5em;
}

form{
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    font-size: 2em;

    background: white;
    color: black;
}

.wrapper{
    width: 50%;
    height: auto;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid salmon;
    margin: 0 auto;
    margin-top: 10em;

    text-align: center;
    background: navajowhite;
}

.stop{
    /* display: none; */
    background: red;
    color: whitesmoke;
    padding: 1em;
    border-radius: 5px;
}

.start{
    background: green;
    border-radius: 5px;
    padding: 1em;
    color: antiquewhite;
}
    
.split{
    background: rgba(217, 217, 217, 0.7);
    padding: 1em;
    border-radius: 5px;
}

.reset{
    color: aquamarine;
    /* display: none; */
    background: gray;
    padding: 1em;
    border-radius: 5px;
}

.afficheur{
    display: flex;
    justify-content: space-evenly;
    
    width: 100%;
}

.afficheur button{
    padding: 0.5em;
    border-radius: 5px;

    cursor: pointer;
}
.active{
    display: none;
}

.afficheur button.is-active{
    background: black;
    color: white;
}

.contents .content{
    display: none;
}

.contents .content.is-actived{
    display: block;
    margin-top: 10px;
    margin-left: 15px;
}