*{
    box-sizing: border-box;
    margin: 0;
}
.timer{
    display: flex;
    width: 100%;
    background-color: aquamarine;
    justify-content: center;
    margin: 1em auto;
    border-radius: 10px;
    font-size: 2em;
    padding: 0.5em;
}

form{
    border-radius: 10px;
    margin-top: 1em;
    padding: 1em;
    font-size: 2em;

    background: white;
    color: black;
}

.wrapper{
    width: 50%;
    padding: 20px;
    margin-top: 200px;
    border-radius: 30px;
    border: 2px solid salmon;
    margin: 0 auto;

    text-align: center;
    background: navajowhite;
    height: auto;
}

.stop{
    /* display: none; */
    background: red;
    color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
}

.start{
    background: green;
    border-radius: 20px;
    padding: 20px;
    color: antiquewhite;
}
    
.split{
    background: rgba(217, 217, 217, 0.7);
    padding: 20px;
    border-radius: 20px;
}

.reset{
    color: aquamarine;
    /* display: none; */
    background: gray;
    padding: 20px;
    border-radius: 20px;
}
.active{
    display: none;
}
